.DS_store
.idea
index_copy.html
archived/




# Jekyll build output
_site/

# Jekyll / Ruby / Bundler
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/bundle/
Gemfile.lock

# macOS noise
.DS_Store

# Editor/IDE
.vscode/
.idea/

node_modules/